<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Sneaker</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="editBody">
    <%- include("../partials/nav.ejs") %>
    <h1>Edit Your Sneaker</h1>
    <form class="editForm" action="/collection/<%= collection._id %>?_method=PUT" method="POST">
      <label class="editLabel" for="brand">Brand</label>
      <input class="editInput" type="text" name="brand" id="brand" value= <%= collection.brand %> />

      <label class="editLabel" for="bodyStyle">Body Style</label>
      <input class="editInput" type="text" name="bodyStyle" id="bodyStyle" value= <%= collection.bodyStyle %> />

      <label class="editLabel" for="variant">Variant</label>
      <input class="editInput" type="text" name="variant" id="variant" value="<%= collection.variant || '' %>"/>
      
      <label class="editLabel" for="releaseYear">Release Year</label>
      <input class="editInput" type="text" name="releaseYear" id="releaseYear" value= <%= collection.releaseYear %> />

      <label class="editLabel" for="colorPattern">Color Pattern</label>
      <input class="editInput" type="text" name="colorPattern" id="colorPattern" value= <%= collection.colorPattern %> />

      <label class="editLabel" for="forSale">For Sale</label>
      <input class="editInput" type="checkbox" name="forSale" id="forSale" 
      <% if(collection.forSale){ %>
        checked
     <% } %> />
      
      <label class="editLabel" for="price">Price</label>
      <input class="editInput" type="text" name="price" id="price" value= <%= collection.price %> />      
      
      <button class="buttonEdit" type="submit">Submit</button>
    </form>
</body>
</html>