<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a Sneaker</title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body class="newBody">
    <%- include("../partials/nav.ejs") %>
    <h1>Add Your Sneaker</h1>

    <% if (errorMessage) { %>
      <p class="errMessage" style="color: red; font-weight: bold;"><%= errorMessage %></p>
    <% } %>

    <form class="newForm" action="/collection" method="POST">
      <label class="newLabel" for="brand">Brand</label>
      <input class="newInput" type="text" name="brand" id="brand" 
      value="<%= formData?.brand || '' %>" />

      <label class="newLabel" for="bodyStyle">Body Style</label>
      <input class="newInput" type="text" name="bodyStyle" id="bodyStyle"
      value="<%= formData?.bodyStyle || '' %>" />

      <label class="newLabel" for="variant">Variant</label>
      <input class="newInput" type="text" name="variant" id="variant"
      value="<%= formData?.variant || '' %>" />
      
      <label class="newLabel" for="releaseYear">Release Year</label>
      <input class="newInput" type="text" name="releaseYear" id="releaseYear"
      value="<%= formData?.releaseYear || '' %>" />

      <label class="newLabel" for="colorPattern">Color Pattern</label>
      <input class="newInput" type="text" name="colorPattern" id="colorPattern"
      value="<%= formData?.colorPattern || '' %>" />

      <label class="newLabel" for="forSale">For Sale</label>
      <input class="newInput" type="checkbox" name="forSale" id="forSale" />
      
      <label class="newLabel" for="price">Price</label>
      <input class="newInput" type="text" name="price" id="price" 
      value="<%= formData?.price || '$' %>" />      
      
      <button class= "newButton" type="submit">Submit</button>
    </form>
  </body>
</html>
