<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showcase</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body class="showBody">
    <%- include("../partials/nav.ejs", { user }) %>
    <h1><%= user.username %></h1>
    <li class="showLi">
        <%= collection.brand %>
        <%= collection.bodyStyle %>
        <% if(collection.variant){ %>
            <%= collection.variant %>
        <% } %>
        <%= collection.releaseYear %>
        <%= collection.colorPattern %>
        <% if(collection.forSale){ %>
            <%= "For Sale" %>
        <% } %>
        <%= collection.price %>
    </li>

    <a class="showEdit" href="/collection/<%= collection._id %>/edit">
      Edit
    </a>

    <form
      action="/collection/<%= collection._id %>?_method=DELETE"
      method="POST"
    >
      <button class="buttonDelete" type="submit">Delete this sneaker</button>
    </form>
</body>
</html>